* text=auto eol=lf

*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text
*.html text
*.md text
*.yml text
*.yaml text
.prettierrc.json text
.gitignore text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary